<!DOCTYPE html>
<html style=" height: 100%;">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Квалификации</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light snav">
        <div class="container-fluid snav">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/logo.png}" alt="" width="80" height="80"/>
            </a>
            <h2 class="whitetext">Студенческие группы</h2>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-primary btnlog" style="margin-left: 10px" th:text="${account}" type="submit"></button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-start ">
            <div class="col-8 border bg-light px-4">
                <h3 class="text-dark">Квалификации</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Квалификация</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="var : ${qualifications}">
                        <td th:text="${var.getId()}"></td>
                        <td th:text="${var.getQualification_name()}"></td>
                        <td>
                            <form action="#" th:action="@{/Qualification/update}" th:object="${qualification}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <input name="qualification_name" type="hidden" th:value="${var.getQualification_name()}"/>
                                <button type="submit" class="btn btn-outline-primary"><img th:src="@{/img/edit.png}"/></button>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{/Qualification/delete}" th:object="${var}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <button type="submit" class="btn btn-outline-primary"><img th:src="@{/img/delete.png}"/></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4 border px-4">
                <form method="POST" th:action="@{/Qualification/create}" th:object="${qualification}">
                    <h3 style="color: black">Новая запись</h3>
                    <div class="mb-3">
                        <div class="col-sm-6">

                            <label for="qualification_name" class="col-sm-5 col-form-label" style="color: black">Квалификация</label>
                            <input type="text" name="qualification_name" class="form-control" id="qualification_name" th:field="*{qualification_name}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('qualification_name')}" th:errors="*{qualification_name}"></div>

                        </div>
                    </div>
                    <p>
                        <br>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <br>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>